.single__new {
  padding: 16px;
  background-color: #131414;
  border-radius: 50px;
  column-gap: 40px;

  .new__image {
    border-radius: 50px;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(26, 154, 251, 0.87);
      background-color: #1A9AFBDE;
      opacity: .6;
    }
    img {
      width: 100%;
    }
  }

  .new__text {
    .new__title {
      color: var(--main__white);
      margin-bottom: 25px;
      font-weight: var(--ft__w__bold);
      font-size: var(--ft__30);
    }
    .new__desc {
      color: #8B8B8B;
      font-size: var(--ft__28);
      margin-bottom: 10px;
      font-weight: var(--ft__w__regular);
      margin-bottom: 10px;
    }
    .text__btn {
      font-weight: var(--ft__w__medium);
      color: var(--main__light__blue);
      font-size: var(--ft__25);
    }
  }
}

@media(max-width: 1399px) {
  .single__new {
    border-radius: 24px;
    .new__image {
      width: 200px;
      border-radius: 24px;
    }
    .new__text {
      .new__title {
        margin-bottom: 25px;
        font-size: 20px;
      }
      .new__desc {
        color: #8B8B8B;
        font-size: 18px;
        margin-bottom: 14px;
      }
      .text__btn {
        font-size: 16px;
      }
    }
  }
}

@media(max-width: 991px) {
  .single__new {
    .new__image {
      width: auto;
    }
    .new__text {
      .new__title {
        line-height: 36px;
      }
    }
  }
}
@media(max-width: 767px) {
  .single__new {
    padding: 40px;
    flex-direction: column;
    row-gap: 30px;
    .new__image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}